*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

/* Navigation section start */

.container{
	width: 937px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/* banner section start */

.logo{
	float: left;
}

.nav-link{
	float: right;
}

.nav{
	position: absolute;
	left: calc(50% - 450px);
	top: 40px;
}

.banner img{
	width: 100%;
}

.banner-text {
	text-align: center;
	position: absolute;
	top: calc(50% - 20px);
	left: calc(50% - 230px);
	color: #ffffff;
	font-size: 35px;
}

.banner-text p{
	color: #ffffff;
	font-size: 22px;
}


/* banner section end */

/* man img section start */


.man img{
	float: left;
	width: 20%;
	padding-top: 100px;
	margin-left: 130px;
	margin-right: 140px;
}

.man h3{
	padding-top: 150px;
	font-size: 15px;
	padding-bottom: 40px;
	color: #4c4c4c;
}

.man p{
	width: 30.5%;
	float: right;
	font-size: 14px;
	line-height: 20px;
	color: #ababab;
	margin-right: 480px;
	padding-bottom: 30px;
}

.man h2{
	width: 30%;
	float: right;
	margin-right: 486px;
	font-size: 12px;
	line-height: 20px;
	color: #ababab;
}


.man a{
	float: right;
	font-size: 18px;
	margin-right: 770px;
	background-color: #ff2b4a;
	padding: 10px  50px;
}

/* man img section end */


/* working section start */

.work-head{
	text-align: center;
}

.work-head h1{
	font-size: 40px;
	color: #000000;
	padding-top: 120px;
	padding-bottom: 30px;
}

.work-head p{
	font-size: 16px;
	color: #494949;
	padding-bottom: 60px;
}

.work{
	background-color: #f6f6f6;
}

.work-img{
	float: left;
	padding-left: 160px;
	padding-bottom: 120px;
	padding-top: 50px;
}

/* working section end */

.education-img{
	width: 100%;
	position: relative;
	
}

.ex1{
	width: 400px;
	height: 450px;
	float: left;
	background-color: #69657c;
	color: #clclcl;
	padding-left: 40px;
	margin-right: 20px;
	margin-left: 350px;
	
}

.ex2{
	width: 400px;
	height: 450px;
	float: left;
	background-color: #69657c;
	color: #clclcl;
	margin-left: 20px;
	padding-left: 40px;
	margin-right: 20px;
}

.ex1 h2{
	font-size: 25px;
	color: #ffffff;
	padding-bottom: 50px;
}

.ex1 h3{
	font-size: 18px;
	color: #f0f0f2;
	padding-top: 20px;
}

.ex1 h5{
	font-size: 16px;
	color: #b2b4c0;
	padding-bottom: 20px;
	padding-top: 20px;

}

.ex1 p{
	font-size: 14px;
	color: #b2b4c0;
	padding-bottom: 20px;
}

.ex2 h2{
	font-size: 25px;
	color: #ffffff;
	padding-bottom: 50px;
}

.ex2 h3{
	font-size: 18px;
	color: #f0f0f2;
	padding-top: 20px;
}

.ex2 h5{
	font-size: 16px;
	color: #b2b4c0;
	padding-bottom: 20px;
	padding-top: 20px;

}

.ex2 p{
	font-size: 14px;
	color: #b2b4c0;
	padding-bottom: 20px;
}

.education-ex{
	position: absolute;
	top: calc(50% - 190px);
}

/* working section end */


/* my letest work section start */

.letest-img{
	text-align: center;
}

.letest-img h3{
	padding-top: 80px;
	padding-bottom: 20px;
	font-size: 40px;
	color: #000000;
}

.letest-img p{
	padding-bottom: 30px;
	font-size: 16px;
	color: #ababab;
}

.img1{
	float: left;
	padding-left: 160px;
	padding-top: 50px;
	margin-left: 10px;
	
}

.img2{
	float: left;
	padding-left: 160px;
	padding-bottom: 120px;
	margin-left: 8px;
	
}
	
	/* my letest work section start */
	
	
.sign-msg p{
	font-size: 16px;
	padding-top: 40px;
	width: 27.7%;
	padding-bottom: 40px;
	color: #1e3d39;
}


.sign-img{
	padding-top: 90px;
}

.sign-msg h3{
	font-size: 18px;
	color:#1e3d39;
	padding-bottom: 20px;
	padding-top: 20px;
}

.sign-msg h5{
	font-size: 12px;
	color:#1e3d39;
	padding-bottom: 90px;
}

.sign-colen{
	padding-left: 200px;
	background-color: #64cbc0;
}


/* my letest work section end */

/* form section start */

.form-part1{
	width: 400px;
	height: 500px;
	float: left;
	background-color: #69657c;
	text-align: center;
	color: #fff;
}

.form-part1 h3{
	padding-right: 200px;
	font-size: 26px;
	color: #ffffff;
	padding-bottom: 20px;
}

.form-part1 input{
	width: 380px;
	border: 1px solid #c0c2cb;
	height: 40px;
	background-color: #69657c;

}
	

.form-part1 textarea{
	width: 380px;
	border: 1px solid #c0c2cb;
	height: 160px;
	background-color: #69657c;
}

.form-part2{
	width:430px;
	float: left;
	padding-left: 25px;
}

.address-sec{
	background-color: #69657c;
	text-decoration: none;
	padding: 10px  70px;
	color: #fff;
	padding-bottom: 10px;
	width: 420px;
	height: 140px;
}

.address-sec h3{
	font-size: 26px;
	color: #ffffff;
	padding-bottom: 10px;
}
	
.address-sec p{
	font-size: 16px;
	color: #cad0d8;
	
}

.phone-section{
	background-color: #69657c;
	text-decoration: none;
	padding: 8px  60px;
	color: #fff;
	padding-bottom: 10px;
	width: 420px;
	height: 140px;
}
	
.phone-section h3{
	font-size: 26px;
	color: #ffffff;
	padding-bottom: 30px;
	padding-top: 20px;
}
	
.phone-section p{
	font-size: 16px;
	color: #cad0d8;
	
}

.mail-sec{
	background-color: #69657c;
	text-decoration: none;
	padding: 8px  60px;
	color: #fff;
	padding-bottom: 10px;
	width: 420px;
	height: 140px;
}
	
.mail-sec h3{
	font-size: 26px;
	color: #ffffff;
	padding-bottom: 30px;
	padding-top: 20px;
}
	
.mail-sec p{
	font-size: 16px;
	color: #cad0d8;
	
}
	
	
	
.spacer{
    margin: 30px 0;
}	
	

.form-part1 a{
	text-align: center;
	background-color: #ff2b4a;
	padding: 10px 60px;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	float: right;
	margin-top: 20px;
}

.form-part{
	position: absolute;
	left: calc(50% - 420px);
	top: calc(50% - 240px);
}

.section{
	position: relative;
}


/* form section start */

.footer-img{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #222222;
}

.footer-img p{
	font-size: 12px;
	color: #cad0d8;
	padding-top: 20px;
}

/* form section end */
	